<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="TadManagementTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="tad.server" value="http://faf-box-22764.sae1.nitrousbox.com:7139" />
  </appSettings>
  <userSettings>
    <TadManagementTool.Properties.Settings>
      <setting name="LastUser" serializeAs="String">
        <value />
      </setting>
    </TadManagementTool.Properties.Settings>
  </userSettings>
</configuration>